<h1>Pets for Adoption</h1>
<% if user_signed_in? and current_user.admin %>
  <%= link_to 'Edit pet listings', pets_url %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Pet Type</th>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th>Picture</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="petlist">
    <% @pets.each do |pet| %>
      <%= render pet %>
    <% end %>
  </tbody>
</table>

<br>