<h1>Selected Pets</h1>

<table>
  <tbody>
        <%= render cart.selected_pets %>
  </tbody>
</table>
<div id="button-holder">
  <% if cart.selected_pets.size != 0 %>
	  <%= button_to 'Empty Cart', cart, method: :delete, data: { confirm: 'Are you sure?' } %>
	  <%= button_to 'Adopt', shelter_adopt_url, method: :get %>
  <% end %>
</div>
<br>